.banner{
    position: relative;
    .banner-content{
        position: relative;
        margin-top: 238px;
        .title{
            h2{
                font-weight: 300;
                font-size: 44px;
                line-height: 54px;
                letter-spacing: 0.02em;
                color: #000000;
            }
            span{
                font-weight: 600;
                font-size: 44px;
                line-height: 52px;
                letter-spacing: 0.02em;
                color: #000000;
            }
        }
        p{
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #9C9E9D;
            max-width: 332px;
            margin-top: 45px;
        }
        .banner-btn{
            background: #433F56;
            border-radius: 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 17px 36px;
            gap: 10px;
            margin-top: 45px;
            transition: .6s all;
            &:hover{
                background: #433f567c;
                transform: scale(0.9);
            }
            h2{
                font-weight: 600;
                font-size: 12px;
                line-height: 11px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
        }
        .line{
            position: absolute;
            bottom: -125px;
            left: 22px;
        }
    }
    .bg-headphone{
        position: absolute;
        bottom: -199px;
        right: -251px;
        z-index: -1;
    }
}


@media screen and (max-width: 920px){
    .banner{
        margin-left: 30px;
        margin-right: 30px;
    }
}

@media screen and (max-width: 768px){
    .banner{
        text-align: center;
        .banner-content{
            margin-top: 140px;
            p{
                max-width: inherit;
            }
            .btn-mobile{
                display: grid;
            }
        }
        .bg-headphone{
            display: none;
        }
    }
}