.characteristic{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 150px;
    .characteristic-content{
        h2{
            font-weight: 600;
            font-size: 45px;
            line-height: 55px;
            letter-spacing: 0.02em;
            background: linear-gradient(90.68deg, #472A3C 0.36%, #CC6830 50.35%, #9D3846 97.63%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        span{
            font-weight: 300;
            font-size: 47px;
            line-height: 57px;
            letter-spacing: 0.02em;
            color: #000000;
        }
        p{
            font-weight: 500;
            font-size: 16px;
            line-height: 28px;
            color: #9C9E9D;
            max-width: 311px;
            margin-top: 52px;
        }
        button{
            background: #433F56;
            color: #FFFFFF;
            border-radius: 32px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 17px 36px;
            gap: 10px;
            margin-top: 45px;
            transition: .6s all;
            &:hover{
                background: #433f567c;
                transform: scale(0.9);
            }
            h2{
                font-weight: 600;
                font-size: 12px;
                line-height: 11px;
                letter-spacing: 0.05em;
                color: #FFFFFF;
            }
        }
    }
}

@media screen and (max-width: 900px){
    .characteristic{
        justify-content: center;
        margin-top: 220px;
        margin-left: 30px;
        margin-right: 30px;
        .characteristic-img{
            display: none;
        }
    }
}